@import './reset.less';

* {
    box-sizing: border-box;
}

.container {
    width: 870px;
    margin: 0 auto;

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 0px;

        a {
            padding-left: 38px;
            text-decoration: none;
        }
    }

    .jumbotron {
        background-color: lightgrey;
        border: 1px solid black;
        padding: 30px;

        .headshot {
            width: 300px;
            margin-top: 38px;

            img {
                width: inherit;
            }
        }

        h1 {
            font-size: 4rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        p {
            padding: 10px 0px;
        }

        a {
            display: block;
            width: 150px;
            background-color: grey;
            text-decoration: none;
            color: white;
            padding: 15px;
            border-radius: 5px;
        }
    }
}